[package]
name = "lolite"
version.workspace = true
edition.workspace = true

[dependencies]
lolite_common = { path = "../lolite_common" }
lolite_transfer = { path = "../lolite_transfer" }
shared_memory = { workspace = true }
once_cell = { workspace = true }
ipc-channel = { workspace = true }

[lib]
crate-type = ["cdylib", "lib"]
