<!DOCTYPE html>

<div id="example" class="flex_container">
  <div class="child1" id="child1">
    <div class="nested_child" id="nested_child_1">nested</div>
    <div class="nested_child grow" id="nested_child_2">nested</div>
    <div class="nested_child" id="nested_child_3">nested</div>
    <div class="nested_child" id="nested_child_4">nested</div>
  </div>
  <div class="child2" id="child2">
    child2
  </div>
</div>
<style>
  .flex_container {
    display: flex;
    flex-direction: row;
    width: 400px;
    height: 200px;
  }

  .child1 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .grow {
    flex: 1;
  }

  .child2 {
    flex: 1;
    background-color: red;
  }

  .nested_child {
    height: 40px;
    width: 60px;
    background: green;
  }
</style>