<!DOCTYPE html>

<p>case 1.1: margin override</p>

<div class="container" id="margin-override-1">
    <div class="margin-override-1" id="child">margin-override-1</div>
</div>

<p>case 1.2: margin override</p>

<div class="container" id="margin-override-2">
    <div class="margin-override-2" id="child">margin-override-2</div>
</div>

<style>
    .container {
        display: flex;
        width: 400px;
        height: 200px;
        background: gray;
    }

    .margin-override-1 {
        width: 60px;
        height: 40px;
        background: green;
        margin: 20px;
        margin-left: 50px;
    }

    .margin-override-2 {
        width: 60px;
        height: 40px;
        background: green;
        margin-left: 50px;
        margin: 20px;
    }
</style>